<?xml version="1.0" encoding="utf-8"?>
<ServiceConfiguration xmlns="http://waher.se/Schema/ServiceConfiguration.xsd">
	<InitializationScript>
		<![CDATA[
		]]>
	</InitializationScript>
	<StartupScript>
		<![CDATA[
		ConfigurationPage("Babel","/Babel/Index.md");
		]]>
	</StartupScript>
</ServiceConfiguration>